{% set width  = content_width // columns %}
{% set height = width // 1.618 %}
<a class="download-featured-image" href="{{ post.link }}">
    {% if post.thumbnail %}
        <img src="{{ post.thumbnail.src|resize( width, height ) }}">
    {% else %}
        <img src="{{ default_image.src|resize( width, height, 'center' ) }}">
    {% endif %}
</a>
