<div class="page-header">
	{% if title %}
		<h1>{{ title }}</h1>
	{% else %}
		{% if function( 'is_singular' ) %}
			{% include 'parts/single-title.twig' %}
		{% else %}
			<h1>{{ site.name }}</h1>
		{% endif %}
	{% endif %}
</div>
