<div id="menu" class="menu-wrap">
	<ul>
		{% for item in menu.primary.get_items %}
			<li class="{{ item.classes|join(' ') }}"><a href="{{ item.get_path }}">{{ item.title }}</a>
		{% endfor %}
	</ul>
</div>
