{% extends "main.twig" %}
{% block content %}

{% do action('woocommerce_before_main_content') %}

<div class="before-shop-loop">
	{% do action( 'woocommerce_before_shop_loop') %}
</div>

<div class="loop content-wrapper">
	{% for post in products %}
		{% include ['content-'~post.ID~'.twig', 'content-'~post.post_type~'.twig', 'content.twig'] %}
		{{ function( 'wp_link_pages', { 'before': '<div class="page-links" itemprop="pagination">' . __( 'Pages:', 'maera' ), 'after': '</div>' }) }}
		<div class="clearfix"></div>
	{% endfor %}
</div>

{% do action('woocommerce_after_shop_loop') %}
{% do action('woocommerce_after_main_content') %}

{% endblock %}
