{#<?php#}
{% do action( 'maera/main/before', post.ID ) %}
<main class="{{ 'main'|apply_filters( 'maera/section_class/content' ) }}" role="main">

	{% if title %}<h1>{{ title }}</h1>{% endif %}
	{% if posts %}
		{% for post in posts %}
			{% include ["content-"~post.post_type~".twig", "content.twig"] %}
		{% endfor %}
	{% else %}
		{{ __( 'Sorry, no content', 'maera' ) }}
	{% endif %}

</main><!-- /.main -->
{% do action( 'maera/main/after', post.ID ) %}
