<div class="entry-content" itemprop="description">
    <h3>This content is password-protected.</h3>
    <a href="{{ fn('get_permalink', post.ID) }}">Click here to input the password</a>
    <div class="clearfix"></div>
</div>
