{% extends "main.twig" %}
{% block content %}

<div class="content-wrapper">
    {% for post in posts %}
        {% include 'content-page.twig' %}
        {{ function( 'wp_link_pages', { 'before': '<div class="page-links">' . __( 'Pages:', 'maera' ), 'after': '</div>' }) }}
    {% endfor %}
</div>
{% endblock %}
