{% extends "main.twig" %}
{% block content %}

<div class="content-wrapper">
    {% for post in posts %}
        {% if fn('post_password_required', post.ID) %}
            <h3>The content of this page is password-protected</h3>
            <form class="password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post">
                <label for="pwbox-{{post.ID}}">Password:</label>
                <input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
                <input class="password-btn" type="submit" name="Submit" value="Submit" />
            </form>
        {% else %}

        {% include 'content-page.twig' %}
        {{ function( 'wp_link_pages', { 'before': '<div class="page-links">' . fn( 'esc_html__', 'Pages:', 'maera' ), 'after': '</div>' }) }}

        {% endif %}
    {% endfor %}
</div>
{% endblock %}
