{#<?php#}
{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">

		<article {{ function( 'post_class' ) }} id="post-{{post.ID}}">

			{% do action( 'shoestrap/single/top' ) %}

			{% include 'parts/single-title.twig' %}

			{% do action( 'shoestrap/entry/meta' ) %}

			<div class="entry-content">

				{% do action( 'shoestrap/single/pre_content' ) %}
				{{ post.content }}
				{{ framework.clearfix }}
				{% do action( 'shoestrap/single/after_content' ) %}
			</div>

			<footer></footer>

			{% include 'comments.twig' %}

		</article>

	</div><!-- /content-wrapper -->

{% endblock %}
