{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">

		<article {{ function( 'post_class' ) }} id="post-{{post.ID}}">

			{% do action( 'shoestrap_single_top' ) %}

			{% include 'parts/single-title.twig' %}

			{% do action( 'shoestrap_entry_meta' ) %}

			<div class="entry-content">

				{% do action( 'shoestrap_single_pre_content' ) %}
				{{post.content}}
				<div class="clearfix"></div>
				{% do action( 'shoestrap_single_after_content' ) %}
			</div>

			<section class="comments">
				<div class="respond">
					<h3 class="h2">Comments</h3>
						{{ comment_form }}
					</div>
					<div class="responses">

						{% for cmt in post.get_comments() %}
							{% include "comment.twig" with {comment:cmt} %}
						{% endfor %}
					</div>

			</section>

		</article>

	</div><!-- /content-wrapper -->

{% endblock %}
