<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		{% include 'parts/tease-title.twig' %}
		<p>{{post.get_preview}}</p>

		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
	{% endblock %}
</article>
