<article {{ function( 'post_class' ) }} id="tease-{{ post.ID }}">

	{% block content %}

		{% do action( 'shoestrap/in_article/top' ) %}

		{% include 'parts/tease-title.twig' %}

		{% do action( 'shoestrap/entry/meta' ) %}

		<div class="entry-summary">
			{{ function( 'shoestrap_get_post_teaser', post.ID ) }}
			{{ framework.clearfix }}
		</div>

		<footer class="entry-footer">
			{% do action( 'shoestrap/entry/footer' ) %}
		</footer>

	{% endblock %}
</article>
