<div id="bbpress-forums">

	{{ function('bbp_breadcrumb') }}

	{{ function('bbp_topic_tag_description') }}

	{% do action('bbp_template_before_topic_tag_edit') %}

	{{ function('bbp_get_template_part', 'form', 'topic-tag') }}

	{% do action('bbp_template_after_topic_tag_edit') %}

</div>
