<div id="bbpress-forums">
	{{ function('bbp_breadcrumb') }}
	{% do action('bbp_template_before_single_topic') %}

	{% if function('post_password_required') %}
		{% include 'bbpress/form-protected.twig' %}
	{% else %}

		{{ function('bbp_topic_tag_list') }}
		{{ function('bbp_single_topic_description') }}

		{% if function('bbp_show_lead_topic') %}
			{% include 'bbpress/content-single-topic-lead.twig' %}
		{% endif %}

		{% if function('bbp_has_replies') %}
			{% include 'bbpress/pagination-replies.twig' %}
			{% include 'bbpress/loop-replies.twig' %}
			{% include 'bbpress/pagination-replies.twig' %}
		{% endif %}

		{% include 'bbpress/form-reply.twig' %}

	{% endif %}

	{% do action('bbp_template_after_single_topic') %}
</div>
