<div id="bbpress-forums">

	{{ function('bbp_breadcrumb') }}

	{% do action('bbp_template_before_single_reply') %}

	{% if function('post_password_required') %}

		{{ function('bbp_get_template_part', 'form', 'protected') }}

	{% else %}

		{{ function('bbp_get_template_part', 'loop', 'single-reply') }}

	{% endif %}

	{% do action('bbp_template_after_single_reply') %}

</div>
