{#<?php#}
{% import 'grid_classes.html.twig' as grid %}

{% do action( 'maera/wrap/after' ) %}

{% do action( 'maera/footer/before', post.ID ) %}
<footer class="page-footer">
	{% do action( 'maera/footer/start', post.ID ) %}
	<div class="{{ grid.container() }} wrap footer-section" id="wrap-footer-section">
		{% do action( 'maera/footer/content' ) %}
	</div>
	{% do action( 'maera/footer/end', post.ID ) %}
</footer>
{% do action( 'maera/footer/after', post.ID ) %}
{{ function( 'wp_footer' ) }}
</body>
</html>
