<div id="forum-private" class="bbp-forum-content">
	<h1 class="entry-title">{{ __('Private', 'bbpress') }}</h1>
	<div class="entry-content">
		<div class="bbp-template-notice info">
			<p>{{ __('You do not have permission to view this forum.', 'bbpress') }}</p>
		</div>
	</div>
</div><!-- #forum-private -->
