<form role="search" method="get" class="search-form" action="{{ site.url }}/">
	<div class="input-group custom-search-form">
		<input type="search" class="search-field form-control" placeholder="Search …" value="" name="s" title="Search for:" />

		<span class="input-group-btn">
			<input type="submit" class="search-submit btn btn-default" value="{{ __( 'Search', 'shoestrap' ) }}" />
			<span class="glyphicon glyphicon-search"></span>
		</span>
	</div>
</form>
