{#<?php#}
<section id="comments" class="comments">

	<div class="respond">
		<h3 class="h2">{{ __( 'Comments', 'maera' ) }}</h3>
		{{ comment_form }}
	</div>

	<div class="responses">
		{% for cmt in post.get_comments() %}
			{% include ['parts/single-'~post.post_type~'-comment.twig', 'single-comments.twig'] with {comment:cmt} %}
		{% endfor %}
	</div>

</section>
