{% set add_to_cart = '<a href="%s" rel="nofollow" data-product_id="%s" data-product_sku="%s" data-quantity="%s" class="[maera_button_primary_medium] %s product_type_%s">%s</a>'|format(
	function('esc_url', product.add_to_cart_url),
	function('esc_attr', product.id),
	function('esc_attr', product.get_sku),
	function('esc_attr', quantity ? quantity : 1),
	product.is_purchasable and product.is_in_stock ? 'add_to_cart_button' : '',
	function('esc_attr', product.product_type),
	function('esc_html', product.add_to_cart_text)
) %}

{{ add_to_cart|apply_filters('woocommerce_loop_add_to_cart_link', product) }}
