{#
	Clearfix
#}
{% macro clearfix() %}
	<div class="clearfix"></div>
{% endmacro %}

{#
	Pagination <ul> class
#}
{% macro pagination_ul_class() %}
	pagination
{% endmacro %}

{#
	Float classes
#}
{% macro float_class(alignment) %}
	pull-{{ alignment }}
{% endmacro %}
