/* Small screens (default) */
html {
  font-size: 100%;
  color: #222;
}

a, a:visited, a:hover, a:active {
  color: #08c;
  text-decoration: none;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.extra-small { width: 100%; }

  .column.small { width: 100%; }

  .column.medium.size-1 { width: 8.33%; }
  .column.medium.size-2 { width: 16.66%; }
  .column.medium.size-3 { width: 25%; }
  .column.medium.size-4 { width: 33.33%; }
  .column.medium.size-5 { width: 41.66%; }
  .column.medium.size-6 { width: 50%; }
  .column.medium.size-7 { width: 58.33%; }
  .column.medium.size-8 { width: 66.66%; }
  .column.medium.size-9 { width: 75%; }
  .column.medium.size-10 { width: 83.33%; }
  .column.medium.size-11 { width: 91.66%; }
  .column.medium.size-12 { width: 100%; }
}

@media (min-width: 64rem) {
  .container { max-width: 64rem; }

  .column.large.size-1 { width: 8.33%; }
  .column.large.size-2 { width: 16.66%; }
  .column.large.size-3 { width: 25%; }
  .column.large.size-4 { width: 33.33%; }
  .column.large.size-5 { width: 41.66%; }
  .column.large.size-6 { width: 50%; }
  .column.large.size-7 { width: 58.33%; }
  .column.large.size-8 { width: 66.66%; }
  .column.large.size-9 { width: 75%; }
  .column.large.size-10 { width: 83.33%; }
  .column.large.size-11 { width: 91.66%; }
  .column.large.size-12 { width: 100%; }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

h1.hdr-logo { text-align: center;}

ul.pagination {
  list-style: none;
  list-style-type: none;
  text-align: center;
}

ul.pagination li {
  display: inline-block;
  margin-right: 1em;
}
