{#<?php#}
<div id="layout" class="g">
	<div class="main" id="main">
		<div id="content" class="content u-1 u-md-10-12 u-lg-9-12" itemprop="mainContentOfPage">
			<div class="posts" role="main">
				{% do action( 'maera/wrap/before', post.ID ) %}
				{% do action( 'maera/content/before', post.ID ) %}
				{% do action( 'maera/main/before', post.ID ) %}
				{% block main %}{{ __( 'Sorry, no content', 'maera' ) }}{% endblock %}
				{% do action( 'maera/main/after', post.ID ) %}
			</div>
		</div>
		<div id="sidebar" class="sidebar u-1 u-md-10-12 u-lg-3-12">
			<div class="primary-side">
				{% block sidebar %}{{ widget_area.primary }}{% endblock %}
			</div>
		</div>
		<div class="clearfix"></div>
		{% do action( 'maera/content/after' ) %}
		{% do action( 'maera/footer/before', post.ID ) %}
		<footer class="footer">
			{% do action( 'maera/footer/start', post.ID ) %}
			{% include 'footer.twig' %}
			{% do action( 'maera/footer/end', post.ID ) %}
		</footer>
		{% do action( 'maera/footer/after', post.ID ) %}
	</div>
	{{ function( 'wp_footer' ) }}
</div>
